﻿<!DOCTYPE html>
<html>
<head>
    <title>Car Rental An Auto mobile Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Car Rental Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //for-mobile-apps -->
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/galleryeffect.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="css/jquery.flipster.css">
    <link rel='stylesheet' href='css/dscountdown.css' type='text/css' media='all' />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

</head>
<body>

    <!-- banner -->
    <div class="banner-w3ls" id="home">
        <!-- header -->
        <div class="header-w3l-agile">
            <div class="header_left">
                <ul>
                    <li><a href="mailto:info@example.com"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>info@example.com</a></li>
                    <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+123 456 7890</li>
                </ul>
            </div>
            <div class="header_right">
                <div class="w3ls-social-icons">
                    <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="pinterest" href="#"><i class="fa fa-google-plus"></i></a>
                    <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>

                </div>

            </div>
            <div class="clearfix"></div>
        </div>
        <!-- //header -->
        <div class="container">
            <div class="header-nav">
                <nav class="navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <h1><a href="index.html"><span class="logo-c">C</span><i class="fa fa-car" aria-hidden="true"></i>Rental</a><p class="sub-cap">Drive to Any where</p></h1>
                    </div>
                    <!-- navbar-header -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="index.html" class="hvr-underline-from-center active">Home</a></li>
                            <li><a href="#about" class="hvr-underline-from-center scroll">About Us</a></li>
                            <li><a href="#service" class="hvr-underline-from-center scroll">Deals</a></li>
                            <li><a href="#team" class="hvr-underline-from-center scroll">Team</a></li>
                            <li><a href="#gallery" class="hvr-underline-from-center scroll">Latest Cars</a></li>
                            <li><a href="#contact" class="hvr-underline-from-center scroll">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </nav>

            </div>
            <div class="clearfix"></div>
            <h2>Coming Soon</h2>
            <h3>We are ready to launch our New Car</h3>
            <!--timer-->
            <!--//timer-->
            <div class="callbacks_container">
                <ul class="rslides" id="slider3">
                    <li>
                        <div class="w3l_banner_info">
                            <h4>Find Best Rental Car</h4>

                        </div>
                    </li>
                    <li>
                        <div class="w3l_banner_info">
                            <h4>A Reliable way to travel!</h4>

                        </div>
                    </li>
                    <li>
                        <div class="w3l_banner_info">
                            <h4>Save time when you arrive!</h4>


                        </div>
                    </li>
                    <li>
                        <div class="w3l_banner_info">
                            <h4>Rent for a month. Save $70!</h4>

                        </div>
                    </li>
                </ul>
            </div>
        </div>


    </div>
    <!-- //banner -->
    <!-- bootstrap-pop-up -->
    <div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <section>
                    <div class="modal-body">
                        <h3 class="agileinfo_sign">BEFRIEND</h3>
                        <img src="images/g1.jpg" alt=" " class="img-responsive" />
                        <p>
                            Ut enim ad minima veniam, quis nostrum
                            exercitationem ullam corporis suscipit laboriosam,
                            nisi ut aliquid ex ea commodi consequatur.
                            <i>" Quis autem vel eum iure reprehenderit qui in ea voluptate velit .</i>
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- //bootstrap-pop-up -->
    <!-- /banner-bottom -->
    <div class="banner-bottom">
        <!--//screen-gallery-->



        @RenderBody()




        <!--//screen-gallery-->
    </div>
    <!-- //banner-bottom -->
    <!-- /contact -->
    <div class="map-w3ls">
        <div class="wthree_title_agile">
            <h3> Contact <span>Us</span>  </h3>
        </div>
        <p class="sub_para">It’s time to drive</p>
        <div class="contact-agile" id="contact">
            <div class="contact-middle">
                <h4>Say Hello</h4>
                <form action="#" method="post">
                    <div class="form-agileinfo">
                        <div class="input-w3ls">
                            <p>Your Name</p>
                            <input type="text" name="your name" placeholder="" required="" />
                        </div>
                        <div class="input-w3ls">
                            <p>Your Email</p>
                            <input type="email" name="Your email" placeholder="" required="" />
                        </div>
                    </div>
                    <div class="form-agileits-w3layouts">
                        <p>Your Comments</p>
                        <textarea name="your message" placeholder="" required=""></textarea>
                        <input type="submit" value="Send message">
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="contact-left">
                <h6>Longford,UK</h6>
                <p>+00 338 505 1221</p>
                <p>Inner Ring W, Hounslow TW6 1BP, UK</p>
                <p><a href="mailto:info@example.com">mail@example.com</a></p>
                <h6>Opening Hours</h6>
                <p>Monday-Friday</p>
                <span>7.00AM-10.00PM</span>
                ​<p>Saturday-Sunday</p>
                ​<span>7.00AM-8.00PM</span>
            </div>

        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12947831.742778081!2d-95.665!3d37.599999999999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54eab584e432360b%3A0x1c3bb99243deb742!2sUnited+States!5e0!3m2!1sen!2sin!4v1422444552833"></iframe>

    </div>
    <!-- //contact -->
    <div class="w3_agile_address">
        <div class="container">

            <div class="w3ls_footer_grid">
                <div class="col-md-4 w3ls_footer_grid_left">
                    <div class="w3ls_footer_grid_leftl">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <div class="w3ls_footer_grid_leftr">
                        <h4>Find Us On:</h4>
                        <p>3481 Melrose , New York City.</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 w3ls_footer_grid_left">
                    <div class="w3ls_footer_grid_leftl email">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </div>
                    <div class="w3ls_footer_grid_leftr ">
                        <h4>Email Us On:</h4>
                        <a href="mailto:info@example.com">info@example.com</a>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-4 w3ls_footer_grid_left">
                    <div class="w3ls_footer_grid_leftl">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <div class="w3ls_footer_grid_leftr">
                        <h4>Call Us On:</h4>
                        <p>(+000) 123 4571 121</p>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="newsletter">
        <div class="container">
            <div class="col-md-3 footer-grid">
                <h3>About us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae eros eget tellus tristique bibendum.</p>
                <div class="w3ls_newsletter_social">
                    <ul class="agileits_social_list">
                        <li><a href="#" class="w3_agile_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="agile_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agile_dribble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>

                    </ul>
                </div>
            </div>
            <div class="col-md-2 footer-grid">
                <h3>Need Help ?</h3>
                <ul>

                    <li><a class="scroll" href="#home">Home</a></li>
                    <li><a class="scroll" href="#about">About</a></li>
                    <li><a class="scroll" href="#team">Team</a></li>
                    <li><a class="scroll" href="#service">Deals</a></li>
                    <li><a class="scroll" href="#gallery">Gallery</a></li>
                </ul>
            </div>
            <div class="col-md-4 footer-grid">
                <h3>Recently Launched</h3>

                <div class="footer-grid1">
                    <div class="footer-grid1-left">
                        <a href="#"><img src="images/s3.jpg" alt=" " class="img-responsive"></a>
                    </div>
                    <div class="footer-grid1-right">
                        <a href="#">Lorem ipsum dolor eveniet ut molesti</a>

                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="footer-grid1">

                    <div class="footer-grid1-left">
                        <a href="#"><img src="images/s1.jpg" alt=" " class="img-responsive"></a>
                    </div>
                    <div class="footer-grid1-right">
                        <a href="#">Lorem ipsum dolor earum rerum tenet</a>

                    </div>
                    <div class="clearfix"> </div>
                </div>

            </div>
            <div class="col-md-3 footer-grid">
                <h3>From Flickr</h3>
                <div class="footer-grid-instagram">
                    <a href="#"><img src="images/s3.jpg" alt=" " class="img-responsive"></a>
                </div>
                <div class="footer-grid-instagram">
                    <a href="#"><img src="images/s4.jpg" alt=" " class="img-responsive"></a>
                </div>
                <div class="footer-grid-instagram">
                    <a href="#"><img src="images/s5.jpg" alt=" " class="img-responsive"></a>
                </div>
                <div class="footer-grid-instagram">
                    <a href="#"><img src="images/s1.jpg" alt=" " class="img-responsive"></a>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
    <div class="w3l_footer_agile">
        <p>© 2017 Car Rental. All Rights Reserved | Design by <a href="https://w3layouts.com/">W3layouts</a></p>

    </div>
    <!-- //footer -->
    <!-- js -->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <!--scripts-->
    <!-- Counter required files -->
    <script type="text/javascript" src="js/dscountdown.min.js"></script>
    <script src="js/demo-1.js"></script>
    <script>
			jQuery(document).ready(function($){
				$('.demo2').dsCountDown({
					endDate: new Date("December 24, 2020 23:59:00"),
					theme: 'black'
					});
			});
    </script>
    <!-- //Counter required files -->
    <!--//scripts-->
    <script type="text/javascript" src="js/move-top.js"></script>
    <script type="text/javascript" src="js/easing.js"></script>
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
    <!-- start-smoth-scrolling -->
    <!--banner Slider starts Here-->
    <script src="js/responsiveslides.min.js"></script>
    <script>
								// You can also use "$(window).load(function() {"
								$(function () {
								  // Slideshow 4
								  $("#slider3").responsiveSlides({
									auto: true,
									pager:true,
									nav:false,
									speed: 500,
									namespace: "callbacks",
									before: function () {
									  $('.events').append("<li>before event fired.</li>");
									},
									after: function () {
									  $('.events').append("<li>after event fired.</li>");
									}
								  });

								});
    </script>
    <script src="js/modernizr.custom.js"></script>


    <script src="js/jquery.flipster.js"></script>
    <script>

	$(function(){ $(".flipster").flipster({ style: 'carousel', start: 0 }); });


    </script>
    <!--banner Slider starts Here-->
    <!-- required-js-files-->
    <link href="css/owl.carousel.css" rel="stylesheet">
    <script src="js/owl.carousel.js"></script>
    <script>
							    $(document).ready(function() {
							      $("#owl-demo").owlCarousel({
							        items :5,
									itemsDesktop : [768,4],
									itemsDesktopSmall : [414,3],
							        lazyLoad : true,
							        autoPlay : true,
							        navigation :true,

							        navigationText :  false,
							        pagination :false,

							      });

							    });
    </script>
    <!--//required-js-files-->
    <!-- smooth scrolling -->
    <script type="text/javascript">
		$(document).ready(function() {
		/*
			var defaults = {
			containerID: 'toTop', // fading element id
			containerHoverID: 'toTopHover', // fading element hover id
			scrollSpeed: 1200,
			easingType: 'linear'
			};
		*/
		$().UItoTop({ easingType: 'easeOutQuart' });
		});
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- //smooth scrolling -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>