﻿@using Web2.Models
@model Web2.Models.KnihovnaEntities

@{
    ViewBag.Title = "Home Page";
}






<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>


<p>

    <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>Obrazek</th>
            <th>Id</th>
            <th>Kategorie</th>
            <th>Jmeno</th>
            <th>Autor</th>
            <th>Rok</th>
            <th>Popis</th>



        </tr>
        </thead>
        <tbody>

        @foreach (book b in Model.book)
        {
            <tr>
                
                <td>
                @if (!string.IsNullOrEmpty(b.image_name))
                {
                    <img src="@Url.Content("~/uploads/book/" + b.image_name)"/>
                }
                </td>

                <td>@b.id</td>
                <td>@b.book_category.name</td>
                <td>@b.name</td>
                <td>@b.author</td>
                <td>@b.published_year</td>
                <td>@b.description</td>


            </tr>
        }



        </tbody>
    </table>

</p>
